<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Testing All Pen methods">
    <test name="PositiveTests">
        <groups>
            <run>
                <exclude name="negative"/>
            </run>
        </groups>

        <classes>
            <class name="PenTests"/>
            <class name="DoSomethingElseTest"/>
        </classes>
    </test>
    <test name="NegativeTests">
        <groups>
            <run>
                <include name="negative"/>
            </run>
        </groups>

        <classes>
            <class name="PenTests"/>
        </classes>
    </test>
   </suite>